<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  

</head>

<body id="phpbb" class="section-viewforum ltr">
  <div id="wrap">
    <a id="top" name="top" accesskey="t"></a>
    <app-search-condition></app-search-condition>
	<app-link-bar></app-link-bar>
    <div class="container">
      <app-direct-bar [topicName]="category"></app-direct-bar>

      <a name="start_here"></a>
      <div id="page-body">

        <h2>{{category}}</h2>


   

        <div class="inner">
          <div class="forum_head">
            <ul class="topiclist">
              <li class="header">
                <dl class="icon">
                    <dt>Thông báo</dt>
                  <dd class="posts"><dfn>Replies</dfn></dd>
                  <dd class="views"><dfn>Views</dfn></dd>
                  <dd class="lastpost"><dfn><span>Last post</span></dfn></dd>
                </dl>
              </li>
            </ul>
          </div>
          <div class="forum_mid">
             
            <div class="middle" *ngFor="let thread of threadsThongBao">
              <a routerLink="/thread/{{thread.threadId}}">
                <img src="./../../assets/img/THONGBAO.jpg"
                style="width: 26%; height: 150px;">
              </a>
              <div style="width: 72%; float:right;">
                <a routerLink="/thread/{{thread.threadId}}" style="text-decoration: none;" routerLinkActive="active"><b style="font-size: 20px; word-break: break-all;">{{thread.threadName}}</b>
                <br>
                <div *ngIf="thread.commentList.length>0">
                  <label *ngIf="thread.commentList[0].content.length > 40" style="font-size: 12px; word-break: break-all;" [innerHTML]="thread.commentList[0].content.substring(0, 40) + '...'"></label>
                  <label *ngIf="thread.commentList[0].content.length <= 40" style="font-size: 12px; word-break: break-all;" [innerHTML]="thread.commentList[0].content + '...'"></label>
                 </div>
                <br>
                </a>
                <div style="font-size: 10px; bottom: 0">
                <b>Tạo bởi:</b> &nbsp; <a routerLink="/memberManage/{{thread.createdBy}}" routerLinkActive="active" style="text-decoration: none; font-size: 12px; color:dodgerblue">{{thread.createdBy}}</a>
                &nbsp; - &nbsp;Vào lúc: {{thread.createdDate | date: 'hh:mm dd/MM/yyyy'}}
                &nbsp; - &nbsp;Lượt xem: {{thread.numberOfViews}}
                &nbsp; - &nbsp;Số bình luận: {{thread.numberOfComments}}
                <br>
                <fb-like url="https://doantn-truong-thien.herokuapp.com/thread/{{thread.threadId}}"></fb-like>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      


        <div class="inner">
          <div class="forum_head">
            <ul class="topiclist">
              <li class="header">
                <dl class="icon">
                  <dt>Topics</dt>
                  <dd class="posts"><dfn>Replies</dfn></dd>
                  <dd class="views"><dfn>Views</dfn></dd>
                  <dd class="lastpost"><dfn><span>Last post</span></dfn></dd>
                </dl>
              </li>
            </ul>
          </div>
          <div class="forum_mid">
            <ul class="topiclist topics">

              
              <div class="middle" *ngFor="let thread1 of threads | paginate: { itemsPerPage: 10, currentPage: p }">
                <a routerLink="/thread/{{thread1.threadId}}">
                  <img src="./../../assets/img/hinhforum.png"
                  style="width: 26%; height: 150px;"/>
                </a>
                <div style="width: 72%; float:right;">
                  <a routerLink="/thread/{{thread1.threadId}}" style="text-decoration: none;" routerLinkActive="active"><b style="font-size: 20px; word-break: break-all;">{{thread1.threadName}}</b>
                  <br>
                  <div *ngIf="thread1.commentList.length>0">
                  <label *ngIf="thread1.commentList[0].content.length > 40" style="font-size: 12px; word-break: break-all;">{{thread1.commentList[0].content.substring(0, 40)}}...</label>
                  <label *ngIf="thread1.commentList[0].content.length <= 40" style="font-size: 12px; word-break: break-all;">{{thread1.commentList[0].content}}...</label>
                  </div>
                  <br>
                  </a>
                  <div style="font-size: 10px; bottom: 0">
                  <b>Tạo bởi:</b> &nbsp; <a routerLink="/memberManage/{{thread1.createdBy}}" routerLinkActive="active" style="text-decoration: none; font-size: 12px; color:dodgerblue">{{thread1.createdBy}}</a>
                  &nbsp; - &nbsp;Vào lúc: {{thread1.createdDate | date: 'hh:mm dd/MM/yyyy'}}
                  &nbsp; - &nbsp;Lượt xem: {{thread1.numberOfViews}}
                  &nbsp; - &nbsp;Số bình luận: {{thread1.numberOfComments}}
                  <br>
                  <fb-like url="https://doantn-truong-thien.herokuapp.com/thread/{{thread1.threadId}}"></fb-like>
                  </div>
                </div>
              </div>





            </ul>
            
          </div>
        </div>
        <div class="buttons" *ngIf="userName !== null">
            <a routerLink="/createthread/{{name}}" class="butn"><span></span>Post a new topic</a>
          </div>
        <label style="float:right;"><pagination-controls (pageChange)="p = $event" ></pagination-controls></label>

    

        <hr class="seperator" />
        



       
      </div>

    </div>
  </div>
</body>

</html>