


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style>
	 ul li{

		display: inline;
	 }
	</style>
	
</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>
	<div id="header">
		<div id="header">
			<a href="/" title="Board index" id="logo"><img src="assets/styles/oxygen/imageset/logo.png" width="126" height="42" alt="" title="" /></a>
			<div class="search_box">
				<form action="search_style_747_sid_47ef40484cd2d7764257c87c6557004b.html" method="get" id="search">
					<fieldset>
						<input name="keywords" type="text" maxlength="128" title="Search for keywords" class="" placeholder="Search for keywords" />
					</fieldset>
				</form>
			</div>
		  </div>
		<a href="./index.php?style=747" title="Board index" id="logo"><img src="./styles/oxygen/imageset/logo.png" width="126" height="42" alt="" title="" /></a>
		
	
		
		
	</div>
	<div class="nav" >
			<ul class="bar">
				<li class="active"><a [routerLink]="['/forums']"><i class="fa fa-home"></i> Board index</a></li>
				<li *ngIf="checkedPremission==3||checkedPremission==4"><a [routerLink]="['/members']"><i class="fa fa-group"></i> Members</a></li>
				<li *ngIf="userName!=null"><a [routerLink]="['/hopthu']"><i class="fa fa-info"></i> MAIL</a></li>
			<li *ngIf="checkedPremission==3||checkedPremission==4"><a [routerLink]="['/danhgia']"><i class="fa fa-info"></i>ĐÁNH GIÁ</a></li>	
			</ul>
			<ul class="left" >
			 
				<li  *ngIf="userName==null"><a [routerLink]="['/registernember']"><i class="fa fa-plus"></i> Register</a></li>
				<li><a  [routerLink]="['/login']" title="Login" accesskey="x" *ngIf="userName==null"><i class="fa fa-sign-in"></i> Login</a></li>
				<li *ngIf="userName!=null"  ><a [routerLink]="['/informationmember']" title="Personal Information"  accesskey="x"><img src="{{image}}" style="width:30px;height:30px;margin-top:-10px; "/>{{userName}}
				
				</a></li>
				<li  *ngIf="userName!=null"><a  title="Logout" accesskey="x"  (click)="logout()">Logout
				
				</a></li>
			
			


			</ul>
		</div>
	<div class="container">
	<div id="page-header">
		<div class="breadcrumbs">
			<ul class="crumb">
				<li class="icon-home"><a href="./index.php?style=747" accesskey="h">Board index</a></li>
				<li> <strong>&#8249;</strong> <a href="./viewforum.php?style=747&amp;f=1">Test Category 1</a></li><li> <strong>&#8249;</strong> <a href="./viewforum.php?style=747&amp;f=2">Test Forum 1</a></li>
			</ul>
			
			
		</div>
	</div>

	<a name="start_here"></a>
	<div id="page-body">
		
<h2><a href="./viewtopic.php?style=747&amp;f=2&amp;t=3">Sticky</a></h2>
<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body --><div style="display: none !important;">Unread forum<br /></div>

<div class="topic-actions">

	<div class="buttons movedown">
	
		<a href="./posting.php?style=747&amp;mode=reply&amp;f=2&amp;t=3" class="butn" title="Post a reply"><span></span>Post a reply</a>
	
	</div>

	
		<div class="search-box">
			<form method="get" id="topic-search" action="./search.php?style=747">
			<fieldset>
				<input class="inputbox search tiny"  type="text" name="keywords" id="search_keywords" size="20" value="Search this topic…" onclick="if(this.value=='Search this topic…')this.value='';" onblur="if(this.value=='')this.value='Search this topic…';" />
				<input class="button2" type="submit" value="Search" />
				<input type="hidden" name="t" value="3" />
<input type="hidden" name="sf" value="msgonly" />
<input type="hidden" name="style" value="747" />

			</fieldset>
			</form>
		</div>
	
		<div class="pagination">
			<a href="#unread">First unread post</a> &bull; 1 post
			 &bull; Page <strong>1</strong> of <strong>1</strong>
		</div>
	

</div>
<div class="clear"></div>


	<div class="head">
		<a href="#p3">Sticky</a>
		<!-- Poster -->
		<span class="white_label">
			by <a href="./memberlist.php?style=747&amp;mode=viewprofile&amp;u=54"></a>
		</span>
	</div>
	
	<a id="unread"></a>
	

	<hr class="divider" />
 
	
     <h1 style="color: black;">Kiểm Duyệt Bài Viết</h1>

     <div class="middle" *ngFor="let topic of thread">
        <a routerLink="/" routerLinkActive="active">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL-ahFmvGAylltkMR4FastYsyGdT8Bzh1zGl1arJO7wsKo8Mo4Ig"
          style="width: 26%; height: 150px;">
        </a>
        <div style="width: 72%; float:right;">
          <a routerLink="/" style="text-decoration: none;" routerLinkActive="active"><b style="font-size: 20px; word-break: break-all;">{{topic.topicName}}</b>
          <!-- <br>
          <label *ngIf="thread.commentList[0].content.length > 40" style="font-size: 12px; word-break: break-all;">3232</label>
          <label *ngIf="thread.commentList[0].content.length <= 40" style="font-size: 12px; word-break: break-all;">23...</label>
		  <br> -->
		  <p>Ngày tạo:{{topic.createdDate}}</p>
          </a>
          <div style="font-size: 10px; bottom: 0">
          <b>Tạo bởi:</b> &nbsp; <a routerLink="/aa" routerLinkActive="active" style="text-decoration: none; font-size: 12px; color:dodgerblue">{{topic.createdBy}}</a><br/>
			 <b>Nội dung:</b>
			   {{topic.threadName}}
		  </div>
		  <button class="btn" type="button" class="btn btn-success" (click)="responseAdmin(id=topic._id,name=topic.topicName)" >Kiểm duyệt</button>
		  <button class="btn" type="button" class="btn btn-success" (click)="openDialog()"  >Hủy bài viết</button>
		</div>
		
      </div>

         
	
	
		
	



	


<div style="clear: both;"></div>

	<div class="head"><a href="./viewonline.php?style=747">Who is online</a></div>
	<div class="middle">Users browsing this forum: No registered users and 3 guests</div>
</div>

	<div id="page-footer">
		
		

		<div class="copyright">Powered by <a href="https://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
			
		</div>
	</div>
</div>
	<div class="footer">
		Style by <a href="http://www.bradleyv.com" title="Brad">Brad Veryard</a>
	</div>
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

</body>
</html>