


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style>
	 ul li{

		display: inline;
	 }
	</style>
	
</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>

<app-search-condition></app-search-condition>
<app-link-bar></app-link-bar>
	<div class="container">
	<div id="page-header">
		
	</div>

	<div id="page-body">
		


<div class="topic-actions">

	
	

	

</div>
<div class="clear"></div>


	
	

 
	
     <h1 style="color: black;">Kiểm Duyệt Bài Viết</h1>

     <div class="middle" *ngFor="let topic of thread|sortDate|formatdata:search |paginate: { itemsPerPage: 8, currentPage: p }">
        <a routerLink="/" routerLinkActive="active">
          <img src="{{topic.imageThread}}"
          style="width: 26%; height: 150px;">
        </a>
        <div style="width: 72%; float:right;">
          <a routerLink="/" style="text-decoration: none;" routerLinkActive="active"><b style="font-size: 20px; word-break: break-all;">{{topic.threadName}}</b>
          <!-- <br>
          <label *ngIf="thread.commentList[0].content.length > 40" style="font-size: 12px; word-break: break-all;">3232</label>
          <label *ngIf="thread.commentList[0].content.length <= 40" style="font-size: 12px; word-break: break-all;">23...</label>
		  <br> -->
		  <p>Ngày tạo:{{topic.createdDate|date: 'hh:mm dd/MM/yyyy'}}</p>
          </a>
          <div style="font-size: 10px; bottom: 0">
          <b>Tạo bởi:</b> &nbsp; <a routerLink="/aa" routerLinkActive="active" style="text-decoration: none; font-size: 12px; color:dodgerblue">{{topic.createdBy}}</a><br/>
			 <b>Nội dung:</b>
			 <div style="height: 15px; width: 200px;" *ngIf="topic.commentList.length>0">
					<label style="font-size: 12px; word-break: break-all;" [innerHTML]="topic.commentList[0].content + '...'"></label>
                 </div>
		  </div>
		  <div style="float:right;margin-top:30px;" >
		  <button class="btn" type="button" style="color:white;background: red;" (click)="responseAdmin(id=topic._id,name=topic.topicName,threadid=topic.threadId,username=topic.createdBy)" >Kiểm duyệt</button>
		  <button class="btn" type="button"  (click)="removeAdmin(id=topic._id,name=topic.topicName,threadid=topic.threadId,username=topic.createdBy)"  >Hủy bài viết</button>
		   </div>
		</div>
		
      </div>

	  <div class="pagination">
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>
	
	
	
		
	



	




	
</div>
</div>
	
</div>

<div>
	
</div>

</body>
</html>