


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style>
	 ul li{

		display: inline;
	 }
	</style>
	
</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>

<app-search-condition></app-search-condition>
<app-link-bar></app-link-bar>
	<div class="container">
	<div id="page-header">
		<div class="breadcrumbs">
			<ul class="crumb">
				<li class="icon-home"><a href="./index.php?style=747" accesskey="h">Board index</a></li>
				<li> <strong>&#8249;</strong> <a href="./viewforum.php?style=747&amp;f=1">Test Category 1</a></li><li> <strong>&#8249;</strong> <a href="./viewforum.php?style=747&amp;f=2">Test Forum 1</a></li>
			</ul>
			
			
		</div>
	</div>

	<a name="start_here"></a>
	<div id="page-body">
		
<h2><a href="./viewtopic.php?style=747&amp;f=2&amp;t=3">Sticky</a></h2>
<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body --><div style="display: none !important;">Unread forum<br /></div>

<div class="topic-actions">

	

	
		<div class="search-box">
			<form method="get" id="topic-search" action="./search.php?style=747">
			<fieldset>
				<input class="inputbox search tiny" [(ngModel)]="search" type="text" name="keywords" id="search_keywords" size="20" value="Search this topic…"  />
				<button class="button2" style="background: lightseagreen;color:white;height:30px;width:50px;" (click)="onSearch(search)">Search</button>
				<input type="hidden" name="t" value="3" />
<input type="hidden" name="sf" value="msgonly" />
<input type="hidden" name="style" value="747" />

			</fieldset>
			</form>
		</div>
	
		<div class="pagination">
			<a href="#unread">First unread post</a> &bull; 1 post
			 &bull; Page <strong>1</strong> of <strong>1</strong>
		</div>
	

</div>
<div class="clear"></div>


	<div class="head">
		<a href="#p3">Sticky</a>
		<!-- Poster -->
		<span class="white_label">
			by <a href="./memberlist.php?style=747&amp;mode=viewprofile&amp;u=54"></a>
		</span>
	</div>
	
	<a id="unread"></a>
	

	<hr class="divider" />
 
	
     <h1 style="color: black;">Kiểm Duyệt Bài Viết</h1>

     <div class="middle" *ngFor="let topic of thread|sortDate|formatdata:search |paginate: { itemsPerPage: 8, currentPage: p }">
        <a routerLink="/" routerLinkActive="active">
          <img src="{{topic.imageThread}}"
          style="width: 26%; height: 150px;">
        </a>
        <div style="width: 72%; float:right;">
          <a routerLink="/" style="text-decoration: none;" routerLinkActive="active"><b style="font-size: 20px; word-break: break-all;">{{topic.topicName}}</b>
          <!-- <br>
          <label *ngIf="thread.commentList[0].content.length > 40" style="font-size: 12px; word-break: break-all;">3232</label>
          <label *ngIf="thread.commentList[0].content.length <= 40" style="font-size: 12px; word-break: break-all;">23...</label>
		  <br> -->
		  <p>Ngày tạo:{{topic.createdDate|date: 'hh:mm dd/MM/yyyy'}}</p>
          </a>
          <div style="font-size: 10px; bottom: 0">
          <b>Tạo bởi:</b> &nbsp; <a routerLink="/aa" routerLinkActive="active" style="text-decoration: none; font-size: 12px; color:dodgerblue">{{topic.createdBy}}</a><br/>
			 <b>Nội dung:</b>
			 <div *ngIf="topic.commentList.length>0">
                <label *ngIf="topic.commentList[0].content.length > 40 " style="font-size: 12px; word-break: break-all;">{{topic.commentList[0].content.substring(0, 40)}}...</label>
                <label *ngIf="topic.commentList[0].content.length <= 40" style="font-size: 12px; word-break: break-all;">{{topic.commentList[0].content}}...</label>
                 </div>
		  </div>
		  <div style="float:right;margin-top:30px;" >
		  <button class="btn" type="button" style="color:white;background: red;" (click)="responseAdmin(id=topic._id,name=topic.topicName,threadid=topic.threadId,username=topic.createdBy)" >Kiểm duyệt</button>
		  <button class="btn" type="button"  (click)="removeAdmin(id=topic._id,name=topic.topicName,threadid=topic.threadId,username=topic.createdBy)"  >Hủy bài viết</button>
		   </div>
		</div>
		
      </div>

	  <div class="pagination">
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>
	
	
	
		
	



	


<div style="clear: both;"></div>

	<div class="head"><a href="./viewonline.php?style=747">Who is online</a></div>
	<div class="middle">Users browsing this forum: No registered users and 3 guests</div>
</div>

	<div id="page-footer">
		
		

		<div class="copyright">Powered by <a href="https://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
			
		</div>
	</div>
</div>
	<div class="footer">
		Style by <a href="http://www.bradleyv.com" title="Brad">Brad Veryard</a>
	</div>
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

</body>
</html>