
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<style>
		table {
		  border-collapse: collapse;
		  width: 100%;
		  font-family: arial, sans-serif;
		}
		
		th, td {
		  padding: 8px;
  text-align: left;
		  border-bottom: 1px solid #ddd;
		}
		tr:nth-child(even) {
  background-color: #dddddd;
}
		tr:hover {background-color:#f5f5f5;}
		</style>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
  <link rel="icon" type="image/png" href="assets/lid/images/icons/favicon.ico"/>
<!--===============================================================================================-->
  
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="assets/lid/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="assets/lid/vendor/animate/animate.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="assets/lid/vendor/select2/select2.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="assets/lid/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="assets/lid/css/util.css">
  <link rel="stylesheet" type="text/css" href="assets/lid/css/main.css">
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
	  <script src="assets/lid/vendor/bootstrap/js/popper.js"></script>
	  <script src="assets/lid/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
	  <script src="assets/lid/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
	  <script src="assets/lid/js/main.js"></script>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	
</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>
<app-search-condition></app-search-condition>
<app-link-bar></app-link-bar>
	<div class="container">

	<a name="start_here"></a>
	<div id="page-body">
		

<div class="topic-actions">

	
	
	
	

</div>
<div class="clear"></div>


	<div class="head" style="height:30px; background-color: rgb(240, 215, 215)">
		<a href="#p3">Hộp thư</a>
		<!-- Poster -->
	
	</div>
	

<div>
<div style="float:left;width:20% ;background: rgb(240, 215, 215)">
 <p><a [routerLink]="['/login']" title="Hộp thư đến"><img src="assets/img/hopthu.png" style="width:30px;height:20px;">Hộp thư đến</a></p><br/>
 <p><a [routerLink]="['/login']" title="Soạn thư"><img src="assets/img/mail.png">Soạn thư</a></p><br/>	
 
 
</div>
<div style="float:right;width:80% ;">

	<div class="limiter">
		<div class="container-table100" >
			<div class="wrap-table100">
					<div class="table" *ngIf="sl>0" >

						<div class="row header">
							<div class="cell">
							Nội dung
							</div>
							<div class="cell">
								
							</div>
							<div class="cell">
								Bài Viết
							</div>
							<div class="cell">
							  Ngày post lên
							</div>
						</div>

						<div class="row" *ngFor="let item of email|sorthopthu |paginate: { itemsPerPage: 8, currentPage: p }">
							<div class="cell" data-title="Full Name">
								{{item.content}}
							</div>
							<div class="cell" data-title="Full Name">
							
							</div>
							<div class="cell" data-title="Age">
								{{item.topicName}}
							</div>
							<div class="cell" data-title="Job Title">
								{{item.createdEmailDate| date: 'hh:mm dd/MM/yyyy'}}
							</div>
							
						</div>

					
					</div>
					<div *ngIf="sl==0">
						<h1 style="text-align: center;">Hộp thư của bạn rỗng !</h1>
					</div>
				
			</div>
		
		</div>
		<div style="float:right;">
				<pagination-controls (pageChange)="p = $event"></pagination-controls>
				</div>
	</div>
</div>
</div>
	

	



<div style="clear: both;"></div>

</div>

	
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

</body>
</html>
