<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	
</head>

<body id="phpbb" class="section-index ltr">

	<div id="wrap">
		<a id="top" name="top" accesskey="t"></a>
		<app-search-condition></app-search-condition>

		<app-link-bar></app-link-bar>
		<div class="container">
			<app-direct-bar></app-direct-bar>
			<a name="start_here"></a>
			<div id="page-body">
				<div class="inner">
					<div class="forum_head">
						<ul class="topiclist">
							<li class="header">
								<dl class="icon">
									<dt style="color: red">Đại sảnh</dt>
									<dd class="topics"><dfn>Topics</dfn></dd>
									<dd class="posts"><dfn>Posts</dfn></dd>
									<dd class="lastpost"><dfn>Last post</dfn></dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="forum_mid">
						<ul class="topiclist posts">
							<app-topics></app-topics>
						</ul>
					</div>
				</div>
				<div *ngFor="let category of lstCategory"
				[class.selected]="category === categorySelected"
					(click)="onSelectCate(category)">		
					<div class="inner">
						<div class="forum_head">
							<ul class="topiclist">
								<li class="header">
									<dl class="icon">
										<dt>{{category}}</dt>
										<dd class="topics"><dfn>Topics</dfn></dd>
										<dd class="posts"><dfn>Posts</dfn></dd>
										<dd class="lastpost"><dfn>Last post</dfn></dd>
									</dl>
								</li>
							</ul>
						</div>
						<div class="forum_mid">
								<ul class="topiclist posts">
										<app-topics [categorySelected]="category"></app-topics>
								</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div>
		<a id="bottom" name="bottom" accesskey="z"></a>
	</div>
</body>
</html>
