
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
	<style>
	 ul li{

		display: inline;
	 }
	</style>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 

</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>

	<div id="header">
		
		<app-search-condition></app-search-condition>
		<app-link-bar></app-link-bar>
		
	</div>
	
	<div style="width:100%;">
	<div id="page-header">

	</div>

	<a name="start_here"></a>
	<div id="page-body">
		


<div class="topic-actions">
	
	

</div>
<div class="clear"></div>






  
 <div>
 <div>
    <div>
        <div>
            <div class="col-sm-6 chat_sidebar">
                <div class="row">
                    <div class="title-block" style="background:#FFEBCD;">
                        <div class="input-group col-md-12" style="background:#FFEBCD;
						">
                            <h3 style="margin-left: 30px;color: darkcyan;">Nhóm</h3>
                        </div>
                    </div>
                    <div class="group_list">
						<ul>
							<li><input type="text" style="width: 150px;"  [(ngModel)]="nameGroup"/><button class="btn btn-danger pull-right" (click)="createGroup(nameGroup,userName,position)" *ngIf="checkedPrivate=='false'">CREATE</button></li>
						</ul>
                        <ul class="list-unstyled">
                            <li class="left clearfix" *ngFor="let group of groups">
                                <h4 style="color: black;">{{group.nameGroup}}</h4><span style="margin-left:20px;"><img src="assets/img/group_big.png"/>{{group.userName}}:{{group.position}}</span>
								<button class="pull-right btn btn-success" *ngIf="group.position !='Doctor'"><a  routerLink="/chatgroup/{{group.nameGroup}}">Join</a></button>
								<button class="pull-right btn btn-success" *ngIf="group.position =='Doctor'"><a href="/apigroupuser/{{group.userName}}">Join</a></button>
								<button class="pull-right btn btn-success" (click)="deleteGroup(group.nameGroup,userName)">Xóa</button>
                            </li>
                        </ul>
                    </div>
                    <div class="title-block" style="background:#FFEBCD;">
                        <div class="input-group col-md-12">
                            <span class="pull-left" style="color:#fff;"><strong>{{connectionState | async}}</strong></span>
                            <span class="badge pull-right" [ngClass]="{ connected:(connectionState | async) === 'Connected', 
                            reconnect:(connectionState | async) === 'Reconnecting',
                            disconnected:(connectionState | async) === 'Disconnected'}">&nbsp;</span>
                        </div>

                        <div class="input-group col-md-12" style="background:#FFEBCD;">
                            <button class="btn btn-success" (click)="reConnect()" *ngIf="(connectionState | async) !== 'Connected'">Kết nối </button>
                          
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-sm-6 message_section"  >
			<div class="col-sm-12 chat_sidebar" >
					<div class="row" style="width:450px ;">
						<div class="title-block" style="background:#FFEBCD;">
							<div class="input-group col-md-12" style="background:#FFEBCD;">
								<h3 style="margin-left: 30px;color: darkcyan;">Thành viên online</h3>
							</div>
						</div>
						<div class="member_list">
							<ul class="list-unstyled">
								<li class="left clearfix" *ngFor="let member of listMemberOnline1">
									<div (click)="chooseMember(member)" *ngIf="member.userName!=userName">
									<span class="chat-img pull-left">
										<img src="{{member.image}}" alt="User Avatar" class="img-circle">
									</span>
									<div class="chat-body clearfix" >
										<div class="header_sec">
											<strong><h4><a routerLink="/memberManage/{{member.userName}}">{{member.userName}}</a></h4><button  class="btn btn-success" (click)="invitePeople(member.userName,member.image)" >Mời</button><button class="btn btn-success" (click)="call(member.userName)"><img src="assets/img/dienthoai.png" style="width: 15px;height: 15px;"/>Call</button></strong>
											<strong style="float: right;" ><h4>{{member.position}}</h4></strong>
											<strong></strong>
											<span class="badge pull-right connected">&nbsp;</span>
										</div>
									</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div> 
</div>
          

           
        </div>
    </div>
</div>
</div>
<div style="clear: both;"></div>

	
</div>


</div>
	
</div>

<div>

</div>

</body>
</html>
