<li *ngFor="let topic of lstTopics" class="row">
    <dl class="icon">
  
        <dt title="Unread posts">
            <a routerLink="/topic/{{topic.topicName}}" class="forumtitle">{{topic.topicName}}</a><br />
            {{topic.describe}}
        </dt>
      <dd class="topics">{{topic.numberOfComment}} <span class="smaller">Topics</span></dd>
      <dd class="posts">{{topic.numberOfUserViewing}} <span class="smaller">Posts</span></dd>
      <dd class="lastpost"><span>
          Last post by <a
          routerLink="/memberManage/{{topic.lastUpdate}}">{{topic.lastUpdate}}</a>
          <br />{{topic.numberOfThreads}}</span>
      </dd>
    </dl>
  </li>