

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style>
	 ul li{

		display: inline;
	 }
	</style>
	
</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>
	<app-search-condition></app-search-condition>
	<app-link-bar></app-link-bar>
	<div class="container">
	<div id="page-header">
	</div>

	<div id="page-body">
		
<div class="clear"></div>


	<div class="head">
		Tạo bài viết mới
	</div>
	
	<a id="unread"></a>
	

	<hr class="divider" />
  <div  id="khungbaiviet" style="border:1px;background-color:lightgrey;height: auto;border: 5px;" >
	
	<div class="leftthread">
		<header>
			<h1 style="color:black;">
			Tiêu đề: <input [(ngModel)]="title" required>
			</h1>
		 
		</header>
		<angular-editor [(ngModel)]="htmlContent" [config]="config" style="background: honeydew;"></angular-editor>
	
	 
		<div class="topic-actions">
		  <div class="buttons movedown">
		  
			<button  class="butn"  (click)="onSubmited()">Taọ bài viết</button>
		  
		  </div>
		
		</div>
	   
			</div>
			<div class="rightthread">
				<h2>Lưu ý</h2>
				<ul>
				 <li>Tiêu đề bài viết gõ dấu rõ ràng, tiêu đề không chữ hoa</li><br/>
				  <li>Không dùng cách tiêu đề như "Cứu em với ", "chết em rồi"</li><br/>
				  <li>Quảng cáo, giới thiệu sản phẩm & dịch vụ vui lòng đăng tại ZaoDich</li><br/>
				  <li>Than phiền về sản phẩm dịch vụ, vui lòng đăng tại Người tiêu dùng phản hồi</li><br/>
				  <li>Nếu bạn có thắc mắc, vui lòng xem các câu hỏi thường gặp</li>
				</ul><br/><br/>
				<h2>Bài viết chia sẻ</h2>
				<ul>
  
				  <li>Kinh nghiệm khiến thức hữu ích cho mọi người</li><br/>		
				  <li>Cảm xúc suy nghĩ về cuộc sống, công việc, gia, đình, con cái</li><br/>
				  <li>Thắc mắc về vấn đề bạn quan tâm</li><br/>
				  
				</ul><br/><br/>
				<h2>Bài viết không nên chia sẻ</h2>
				<ul>
				  <li>Nội dung phản cảm</li><br/>		
				  <li>Nội dung chia rẻ dân tộc, tôn giáo, vùng miền</li><br/>		
				  <li>Nội dung chia rẻ chính trị, bí mật nhà nước</li><br/>		
				  <li>Thông tin thiếu kiểm chứng</li><br/>		
				  <li>Thông tin đời tư cá nhân</li><br/>		
  
				</ul>
					</div>
	  

       
	
	
		
	
</div>


	


<div style="clear: both;"></div>

</div>

</div>
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

</body>
</html>