<div class="nav" >
  <ul class="bar">
    <li><a [routerLink]="['/forums']"><i class="fa fa-home"></i> Trang chủ</a></li>
    <li *ngIf="userName!=null"><a [routerLink]="['/members']"><i class="fa fa-group"></i> Thành viên</a></li>
    <li *ngIf="userName!=null"><a [routerLink]="['/hopthu']"><i class="fa fa-info"></i> Mail</a></li>
  <li *ngIf="checkedPremission === '3'||checkedPremission === '4'"><a [routerLink]="['/danhgia']"><i class="fa fa-info"></i>Kiểm duyệt</a></li>	
  <li *ngIf="userName!=null"><a [routerLink]="['/chat']"><i class="fa fa-info"></i>Chat</a></li>	
  </ul>
  <ul class="left" >
   
    <li  *ngIf="userName==null"><a [routerLink]="['/registernember']"><i class="fa fa-plus"></i> Đăng ký</a></li>
    <li><a  [routerLink]="['/login']" title="Login" accesskey="x" *ngIf="userName==null"><i class="fa fa-sign-in"></i> Đăng nhập</a></li>
    <li *ngIf="userName!=null"  ><a [routerLink]="['/informationmember']" title="Personal Information"  accesskey="x"><img src="{{image}}" style="width:30px;height:30px;margin-top:-10px; "/>{{userName}}
    
    </a></li>
    <li  *ngIf="userName!=null"><a  title="Logout" accesskey="x"  (click)="logout()">Đăng xuất
    
    </a></li>
  
  


  </ul>
</div>