
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style>
	 ul li{

		display: inline;
	 }
	</style>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="icon" type="image/x-icon" href="favicon.ico">
	 
</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>
	<div id="header">
		<div id="header">
			
			
		  </div>
		
		
	
		
		
	</div>
	<div class="nav" >
			<ul class="bar">
				<li class="active"><a [routerLink]="['/forums']"><i class="fa fa-home"></i> Board index</a></li>
				<li *ngIf="checkedPremission==3||checkedPremission==4"><a [routerLink]="['/members']"><i class="fa fa-group"></i> Members</a></li>
				<li *ngIf="userName!=null"><a [routerLink]="['/hopthu']"><i class="fa fa-info"></i> MAIL</a></li>
			<li *ngIf="checkedPremission==3||checkedPremission==4"><a [routerLink]="['/danhgia']"><i class="fa fa-info"></i>ĐÁNH GIÁ</a></li>	
			</ul>
			<ul class="left" >
			 
				<li  *ngIf="userName==null"><a [routerLink]="['/registernember']"><i class="fa fa-plus"></i> Register</a></li>
				<li><a  [routerLink]="['/login']" title="Login" accesskey="x" *ngIf="userName==null"><i class="fa fa-sign-in"></i> Login</a></li>
				<li *ngIf="userName!=null"  ><a [routerLink]="['/informationmember']" title="Personal Information"  accesskey="x"><img src="{{image}}" style="width:30px;height:30px;margin-top:-10px; "/>{{userName}}
				
				</a></li>
				<li  *ngIf="userName!=null"><a  title="Logout" accesskey="x"  (click)="logout()">Logout
				
				</a></li>
			
			


			</ul>
		</div>
	<div class="container">
	

	<a name="start_here"></a>
	<div id="page-body">
		

<div class="topic-actions">



	
		<div class="search-box">
			<form method="get" id="topic-search" action="./search.php?style=747">
			<fieldset>
				<input class="inputbox search tiny"  type="text" name="keywords" id="search_keywords" size="20" value="Search this topic…" onclick="if(this.value=='Search this topic…')this.value='';" onblur="if(this.value=='')this.value='Search this topic…';" />
				<input class="button2" type="submit" value="Search" />
				<input type="hidden" name="t" value="3" />
<input type="hidden" name="sf" value="msgonly" />
<input type="hidden" name="style" value="747" />

			</fieldset>
			</form>
		</div>
	
		<div class="pagination">
			<a href="#unread">First unread post</a> &bull; 1 post
			 &bull; Page <strong>1</strong> of <strong>1</strong>
		</div>
	

</div>
<div class="clear"></div>


	<div class="head">
		<a href="#p3">Sticky</a>
		<!-- Poster -->
		<span class="white_label">
			by <a href="./memberlist.php?style=747&amp;mode=viewprofile&amp;u=54"></a>
		</span>
	</div>
	
	<a id="unread"></a>
	<div id="p3" class="post bg2 unreadpost">
		<div class="inner">

		<div class="postbody">
			

			<div class="content"></div>

			<div id="sig3" class="signature"></div>
		
		</div>

		
			<dl class="postprofile" id="profile3">
			<dd><i class="fa fa-circle red status"></i></dd>
			<dt>
				<a href="./memberlist.php?style=747&amp;mode=viewprofile&amp;u=54">phpBB3styles.net</a>
			</dt>

			

		<dd>&nbsp;</dd>

		<dd><strong>Posts:</strong> 20</dd><dd><strong>Joined:</strong> </dd><dd><strong>Location:</strong> Worldwide</dd>
			<dd>
				<ul class="profile-icons">
					<li class="web-icon"><a href="http://www.phpBB3styles.net/" title="WWW: http://www.phpBB3styles.net/"><span>Website</span></a></li><li class="icq-icon"><a href="http://www.icq.com/people/000000000/" onclick="popup(this.href, 550, 320); return false;" title="ICQ"><span>ICQ</span></a></li><li class="yahoo-icon"><a href="http://edit.yahoo.com/config/send_webmesg?.target=demo%40demo.com&amp;.src=pg" onclick="popup(this.href, 780, 550); return false;" title="YIM"><span>YIM</span></a></li>
				</ul>
			</dd>
		

		</dl>
	
		<div class="clear"></div>
		
				<ul class="profile-icons go_right">
					<li class="quote-icon"><a href="./posting.php?style=747&amp;mode=quote&amp;f=2&amp;p=3" title="Reply with quote"><span>Reply with quote</span></a></li>
				</ul>
			
		</div>
	</div>

	<hr class="divider" />


<div class="topic-actions">
	<div class="buttons movedown">
	
		<button  class="butn"  title="Post a reply" (click)="onselect(a=true)">Post a reply</button>
		<a href="./posting.php?style=747&amp;mode=reply&amp;f=2&amp;t=3" class="butn" title="Share topic"><span></span><img src="assets/img/iconfacebook.jpg" style="widows: 30px;height:15px ;"/>Share topic</a>
		<a href="./posting.php?style=747&amp;mode=reply&amp;f=2&amp;t=3" class="butn" title="Follow topic"><span></span>Follow topic</a>
	</div>

	
		<div class="pagination">
			1 post
			 &bull; Page <strong>1</strong> of <strong>1</strong>
		</div>
		
	
</div>
<script type="text/script">
 
	 

</script>
<div *ngIf="isCheck" id="khungbaiviet" style="border:1px;background-color:lightgrey;height: auto;border: 5px;" >
	
	<div class="container1">
		<header class="header">
		  <h1>AngularEditor</h1>
		  <p>Native WYSIWYG editor for Angular 6+</p>    
		</header>
		<angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
  <h5 class="html-header">HTML Output</h5>
  <div class="html">
    {{ htmlContent }}
  </div>
	
		
	  </div>
				</div>
	<p></p><p><a href="./viewforum.php?style=747&amp;f=2" class="left-box left" accesskey="r">Return to Test Forum 1</a></p>

	<form method="post" id="jumpbox" action="./viewforum.php?style=747" onsubmit="if(this.f.value == -1){return false;}">

	
		<fieldset class="jumpbox">
	
			<label for="f" accesskey="j">Jump to:</label>
			<select name="f" id="f" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
			
				<option value="-1">Select a forum</option>
			<option value="-1">------------------</option>
				<option value="1">Test Category 1</option>
			
				<option value="2" selected="selected">&nbsp; &nbsp;Test Forum 1</option>
			
				<option value="3">&nbsp; &nbsp;Test Forum 2</option>
			
				<option value="4">&nbsp; &nbsp;Test Forum 3</option>
			
				<option value="6">&nbsp; &nbsp;&nbsp; &nbsp;Test Forum 4</option>
			
				<option value="5">&nbsp; &nbsp;Test Forum 5</option>
			
				<option value="7">&nbsp; &nbsp;Test Forum 6</option>
			
				<option value="9">&nbsp; &nbsp;Test Forum 7</option>
			
				<option value="8">phpBB3styles.net</option>
			
				<option value="14">&nbsp; &nbsp;Styles Support</option>
			
				<option value="18">&nbsp; &nbsp;Styles Request</option>
			
				<option value="13">&nbsp; &nbsp;Feedback &amp; Tips</option>
			
				<option value="12">&nbsp; &nbsp;Announcements</option>
			
			</select>
			<input type="submit" value="Go" class="button2" />
		</fieldset>
	</form>


<div style="clear: both;"></div>

	<div class="head"><a href="./viewonline.php?style=747">Who is online</a></div>
	<div class="middle">Users browsing this forum: No registered users and 3 guests</div>
</div>

	<div id="page-footer">
		
		<div class="breadcrumbs">
			<ul class="crumb">
				<li class="icon-home"><a href="./index.php?style=747">Board index</a></li>
				
			</ul>
			<ul class="bread">
				<li class="icon-team"><a href="./memberlist.php?style=747&amp;mode=leaders">The team</a></li><li class="icon-cookie"><a href="./ucp.php?style=747&amp;mode=delete_cookies">Delete all board cookies</a></li>
				<li class="icon-time">All times are UTC </li>
			</ul>
		</div>

		<div class="copyright">Powered by <a href="https://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
			
		</div>
	</div>
</div>
	<div class="footer">
		Style by <a href="http://www.bradleyv.com" title="Brad">Brad Veryard</a>
	</div>
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

</body>
</html>