<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">

</head>

<body id="phpbb" class="section-index ltr">
	<div id="wrap">
		<a id="top" name="top" accesskey="t"></a>
		<app-search-condition></app-search-condition>
		<app-link-bar></app-link-bar>
		<div class="container">
			<div id="page-header">
				<div class="breadcrumbs">
					<ul class="crumb">
						<li class="icon-home"><a href="/" accesskey="h">Board index</a></li>
					</ul>
				</div>
			</div>
			<a name="start_here"></a>
			<div id="page-body">
					<h2 class="solo">Members</h2>
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>

							<span class="corners-bottom"><span></span></span>
						</div>
					</div>
					<div class="forumbg forumbg-table custom">
						<div class="inner"><span class="corners-top"><span></span></span>
							<table class="table1" cellspacing="1" id="memberlist">
								<thead>
									<tr>
										<th class="name"><a
											 href="#">Tên người dùng</a></th>
										<th class="posts"><a href="#">Vị trí</a></th>
										<th class="joined"><a href="#">Ngày tham gia</a></th>
									</tr>
								</thead>
								<tbody *ngFor="let cus of customers|formatmember:search |paginate: { itemsPerPage: 10, currentPage: p }">
									<tr class="bg1">
										<td><a routerLink="/memberManage/{{cus.userName}}" style="color: #AA0000;"
											 class="username-coloured">{{cus.userName}}</a></td>
										<td class="posts"><a href="#"
											 title="Search user’s posts">{{cus.position}}</a></td>
										<td><span class="rank-img">{{cus.joinDate | date: 'dd/MM/yyyy'}}</span></td>
									</tr>


								</tbody>
							</table>
							<span class="corners-bottom"><span></span></span>
						</div>
					</div>
				<hr />
				<ul class="linklist">
					<li class="rightside pagination">
						<pagination-controls (pageChange)="p = $event"></pagination-controls>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<a id="bottom" name="bottom" accesskey="z"></a>
	</div>
</body>