
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style>
	 ul li{

		display: inline;
	 }
	</style>
	
</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>
<app-search-condition></app-search-condition>
<app-link-bar></app-link-bar>
	<div class="container">
		<app-direct-bar [topicName]="categoryName" [threadName]="threadName" [threadId]="threadId"></app-direct-bar>

	<div id="page-body">
		
<div class="topic-actions">
	<h2>Bài viết: {{threadName}}</h2>
	

	
		<div class="pagination">
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	

</div>
<div class="clear"></div>

	<div>

					<div id="p3" class="post bg2 unreadpost" *ngFor="let comment of comments | paginate: { itemsPerPage: 8, currentPage: p }">
							<button style="float:right;" *ngIf="(userName!=null && userName === createUser) || position === 'Admin' || position === 'SubAdmin'" title="Xoá comment" (click)="clickRemove(id=comment.commentId,threadid=comment.threadId)">X</button>
						<div class="inner">
				
						<div class="postbody">
							
							<div class="content"  [innerHTML]="comment.content"></div>
				
							<div id="sig3" class="signature">Bình luận lúc: {{comment.commentDate | date: 'hh:mm dd/MM/yyyy'}}
								<br>
								<fb-like url="https://doantn-truong-thien.herokuapp.com/thread/{{threadId}}/comment.content"></fb-like>
							</div>
						
						</div>
				
						
							<dl class="postprofile" id="profile3">
							<dt>
								<img src="{{comment.image}}" style="width:50px;height:50px;margin-left:10px;margin-top: 20px;"/><br>
								<a routerLink="/memberManage/{{userName}}" >{{comment.userName}}</a>
							</dt>

							<dd>&nbsp;</dd>
							<dd><strong>Vị trí:</strong> {{position}}</dd><dd><strong>Ngày tham gia:</strong>{{joinDate | date: 'hh:mm dd/MM/yyyy'}}</dd>
						</dl>
						<div class="clear"></div>
						
							
						</div>
					</div>
					
					<div id="p3" class="post bg2 unreadpost" *ngFor="let comment of messageArray1">
							<button style="float:right;" *ngIf="(userName!=null && userName === createUser) || position === 'Admin' || position === 'SubAdmin'" title="Xoá comment" (click)="clickRemove(id=comment.commentId,threadid=comment.threadId)">X</button>
							<div class="inner">
					
							<div class="postbody">
								
								<div class="content"  [innerHTML]="comment.message"></div>
					
								<div id="sig3" class="signature">Bình luận lúc: {{time | date: 'hh:mm dd/MM/yyyy'}}
									<br>
									<fb-like url="https://doantn-truong-thien.herokuapp.com/thread/{{threadId}}/comment.message"></fb-like>
								</div>
							
							</div>
					
							
								<dl class="postprofile" id="profile3">
								<dt>
									<img src="{{image}}" style="width:50px;height:50px;margin-left:10px;margin-top: 20px;"/><br>
									<a routerLink="/memberManage/{{userName}}" >{{userName}}</a>
								</dt>
	
								<dd>&nbsp;</dd>
								<dd><strong>Vị trí:</strong> {{position}}</dd><dd><strong>Ngày tham gia:</strong>{{joinDate | date: 'hh:mm dd/MM/yyyy'}}</dd>
							</dl>
							<div class="clear"></div>
							
								
							</div>
						</div>
				</div>

			

				<div class="buttons movedown">
				
					<button *ngIf="userName!=null" class="butn" title="Post a reply" (click)="onselect(a=true)">Bình luận</button>
					<button *ngIf="(userName!=null && userName === createUser) || position === 'Admin' || position === 'SubAdmin'"
						class="butn" title="Delete this topic" (click)="deleteBaiViet(threadId)">Xóa bài viết này</button>
				
				</div>
				<div *ngIf="isCheck" id="khungbaiviet" style="border:1px;background-color:lightgrey;height: auto;border: 5px;" >
						<div class="container1" style="background: white;">
							<br>
							<br>
							<h1 style="color:black;">Bình luận cho bài viết</h1>
							<angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
						
							<button style="background-color: red;border-radius:5px; height:30px; float: right; " (click)="createCommit()"><span
									style="color:white;">Gửi bình luận</span></button>
						</div>

				</div>

	
</div>

     </div>   

	<hr class="divider" />


<div class="topic-actions">
	
	
		
	
</div>






<div style="clear: both;"></div>

	
</div>




<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

</body>
</html>
