
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style>
	 ul li{

		display: inline;
	 }
	</style>
	
</head>

<body id="phpbb" class="section-viewtopic ltr">
<div id="wrap">
<a id="top" name="top" accesskey="t"></a>
<app-search-condition></app-search-condition>
<app-link-bar></app-link-bar>
	<div class="container">
		<app-direct-bar [topicName]="categoryName" [threadName]="threadName" [threadId]="threadId"></app-direct-bar>

	<div id="page-body">
		
<div class="topic-actions">

	<div class="buttons movedown">
	
		<button *ngIf="userName!=null"  class="butn"  title="Post a reply" (click)="onselect(a=true)">Post a reply</button>
		<button *ngIf="(userName!=null && userName === createUser) || position === 'Admin' || position === 'SubAdmin'"  class="butn"  title="Delete this topic" (click)="deleteBaiViet(threadId)">Xóa bài viết này</button>
	
	</div>

	
		<div class="pagination">
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	

</div>
<div class="clear"></div>

	<div>
	<div *ngIf="isCheck" id="khungbaiviet" style="border:1px;background-color:lightgrey;height: auto;border: 5px;" >
	
		<div class="container1" style="background: white;">
			<h1 style="color:black;">Tạo comment bài viết</h1>
			<angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
		
			<button style="background-color: red;border-radius:5px; height:30px; float: right; " (click)="createCommit()"><span style="color:white;">Tạo comment</span></button>
		  </div>
					</div>
					<div *ngFor="let comment of messageArray1" >
						
							<div style="width:15%;height:auto;float:left;" >
							  <img src="{{image}}" style="width:50px;height:50px;margin-left:50px;margin-top: 20px;"/><br/>
							  <a routerLink="/memberManage/{{comment.user}}" style="margin-left: 20px;">{{userName|uppercase}}-{{position|uppercase}}</a><br/>
							</div>			
					<div id="p3" class="post bg2 unreadpost" style="width:85%;height:auto;float:right;" >
							<button style="float:right;" *ngIf="(userName!=null && userName === createUser) || position === 'Admin' || position === 'SubAdmin'" title="Xoá comment" (click)="clickRemove(id=comment.commentId,threadid=comment.threadId)">X</button>
						<div style="width:100%;height:50px;border:10px;background:#CDCDB4;">
							
					<span style="color:black;">{{comment.user}}--{{time| date: 'hh:mm dd/MM/yyyy'}}</span>
						</div>
						<div style="width:100%;height:auto;">
								{{comment.message|titlecase}}
						</div>
						<div style="margin-top:30px;float: right;">
								<button style="margin-top: 20px;"  ><img src="assets/img/iconlike.jpg" style="width:30px;height:30px;"/>{{comment.numberOfLikes}}Like</button>
								<button style="margin-top: 20px;"><img src="assets/img/dislikeicon.jpg" style="width:30px;height:30px;"/>{{comment.numberOfDislikes}}DisLike</button>
								</div>
						
					</div>
				</div>
		<div *ngFor="let comment of comments | paginate: { itemsPerPage: 8, currentPage: p }">
			<div style="width:15%;height:auto;float:left;">
			  <img src="{{comment.image}}" style="width:50px;height:50px;margin-left:50px;margin-top: 20px;"/><br/>
			  <a routerLink="/memberManage/{{comment.userName}}" style="margin-left: 20px;">{{comment.userName|uppercase}}-{{comment.position|uppercase}}</a><br/>
			  
			</div>			
	<div id="p3" class="post bg2 unreadpost" style="width:85%;height:auto;float:right;" >
		<button style="float:right;" title="Xoá comment" (click)="clickRemove(id=comment.commentId,threadid=comment.threadId)">X</button>
		<div style="width:100%;height:50px;border:10px;background:#CDCDB4;">
			
	<span style="color:black;">{{comment.userName|uppercase}}--{{comment.commentDate| date: 'hh:mm dd/MM/yyyy'}}</span>
		</div>
		<div style="width:100%;height:auto;">
				{{comment.content|titlecase}}
				
		</div>
		<div style="margin-top:30px;float: right;">
			<button style="margin-top: 20px;" (click)="clickLike(id=comment.commentId,threadid=comment.threadId,numberlike=comment.numberOfLikes,numberdislike=comment.numberOfDislikes)" ><img src="assets/img/iconlike.jpg" style="width:30px;height:30px;"/>{{comment.numberOfLikes}}Like</button>
								<button style="margin-top: 20px;" (click)="clickDisLike(id=comment.commentId,threadid=comment.threadId,numberlike=comment.numberOfLikes,numberdislike=comment.numberOfDislikes)"><img src="assets/img/dislikeicon.jpg" style="width:30px;height:30px;"/>{{comment.numberOfDislikes}}DisLike</button>
		</div>
	</div>
	
	<div>
		
	</div>
	
</div>

     </div>   

	<hr class="divider" />


<div class="topic-actions">
	
	
		<div class="pagination">
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
		
	
</div>






<div style="clear: both;"></div>

	
</div>


</div>
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

</body>
</html>
